.searchButton {
  height: 55px !important;
  width: 180px;
  text-align: center;
  padding: 30px;
  border: 5px solid #21e6c1;
  background: #071e3d;
  border-radius: 3em;
  color: #21e6c1;
  font-size: 1.5em;
}
