@import "~antd/dist/antd.css";

/*chat*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #57c1eb 0%, #246fa8 100%);
  font-size: 10px;
}

::-webkit-scrollbar {
  display: none;
}

/*------------------------*/
.cl-layout {
  min-height: 100vh;
}
.cl-header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 50;
}
.cl-content {
  margin: 0 16px;
}
.cl-content-bg {
  display: flex;
  width: 100%;
  background: #fff;
  justify-content: center;
  align-items: center;
  padding: 24px;
  min-height: 560px;
}
.box-stream {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.cl-footer {
  text-align: center;
}
.cl-breadcrumb {
  margin: 16px 0;
}
.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.Search-Box {
  display: flex;
  align-items: center;
  min-width: 50%;
}

/* ---------------------------------*/

.Input-Search {
  padding: 0;
  border: 0;
  margin-left: 10px;
  width: 100%;
}
.Input-Search:hover,
.Input-Search:focus {
  outline: none;
}

.ant-menu-horizontal {
  border-bottom: 0;
}
.ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-item-selected {
  border-bottom: 0;
}
.anticon {
  margin-right: 0;
}
.ant-menu-horizontal > .ant-menu-item-selected {
  border-bottom: 0;
}
.ant-menu-horizontal > .ant-menu-item-selected:hover {
  border-bottom: 0;
  background-color: rgba(0, 0, 0, 0.01);
}
.ant-card-bordered {
  border-left: 5px solid #21e6c1 !important;
}
.ant-card-meta-title {
  color: #21e6c1 !important;
  font-size: 1.5em !important;
}
.ant-card-meta-description {
  color: whitesmoke !important;
}
.ant-card-hoverable:hover {
  border-color: #21e6c1 !important;
}

.swal2-popup {
  font-size: 2rem !important;
}

.menu-item-icon .anticon {
  font-size: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 8px;
  height: 60%;
  width: 50%;
}
.cursor-pointer {
  cursor: pointer;
}

.contenedor-chat {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contendor-stream {
  width: 50%;
}
.box-player {
  width: 100%;
  height: 100%;
}

.box-search {
  padding: 15px 0px 15px 20px;

  width: 30%;
}
.cl-search {
  background: #fff;
}
.çl-slider {
  position: relative;
  margin: 10px 0px;
}

.slick-slider {
  height: inherit !important;
  width: 50% !important;
  margin-left: 100px !important;
  /* max-height: 550px; */
}

.slick-track {
  padding-top: 20px !important;
  height: 650px;
}

@media (max-width: 360px) {
  .cl-content-bg {
    flex-wrap: wrap;
  }

  #chat-container {
    min-width: 240px;
    margin-top: 40px;
  }

  #chat-message-list {
    width: 240px;
  }
  #chat-title {
    width: 240px;
  }
  #chat-form {
    grid: 50px / 30px 1f;
    padding-left: 12px;
    width: 240px;
  }
  #chat-form input {
    width: 130px;
    font-size: 1.1rem;
  }
}
*{
  padding: 0;
  margin-top: 0;
}
body{

  background-image: url(img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.side{
  height: 500px;
  width: 300px;
}
.img img{
  width: 55px;
  margin-top: 20;
}
.user_pic{
  width: 200px;
}
.login_box{
  margin-left: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register_box{
  margin-left: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  width: 360px;
}
form h2{
  font-size: 2.9rem;
  text-transform: uppercase;
  margin: 15px 0;
  color: #000;
}
.btn{
  display: block;
  width: 100%;
  font-size: 20px;
  background-image: linear-gradient(to right, #2f90e5, #4d9ee5, #6aa9e1);
  background-size: 200%;
  transition: .5s;
  color: #fff;
  margin-top: 10px;
}
.btn:hover{
  background-position: right;
  color: #fff;
}
.forget{
  text-align: left;
}
@media screen and (max-width: 1200px){
  form{
    width: 350px;
  }
}
@media screen and (max-width: 1000px){
  .img{
    display: none;
  }
}
